	  #abt{
	    margin-top:10px;
	    margin-left:14%;
		margin-right:14%;
	  }
	  #head{
	    color:#D80000 ;
	  }
	  hr{
	   border-style: inset;
      border-width: 1px;
      border-color:#c00000;
	  margin-left:14%;
	  margin-right:14%;
	  }