       *{
			padding: 0;
			margin: 0px;
		}
	      #header{
		    height:28%;
            margin-left:14%;
            margin-right:14%;
            background:#303030 ;
            margin-top:0px;
           z-index:1;
            }
		  #header1{
			  height:28%;
			  width:14%;
			  background:#303030;
			  float:left;
		  }
             #header2{
			  height:28%;
			  width:14%;
			  background:#303030;
			  float:right;
		  }	
          body{
			  background-repeat:no-repeat;
			  }
        
         #main{
			 margin-top:5px;
			  margin-left:14%;
            margin-right:14%;
			padding-left:10px;
			padding-top:10px;
			padding-right:15px;
			 
			 
		 }	
         .price td,tr,th{
			  
			  padding-top:20px;
			  padding-bottom:20px;
			 
		 } 		 
		  	
		#space{
		  margin:5px;
		}	
		#search{
		  float:left;
		   padding-top:45px;
		   padding-left:5px;
		 }	
		 #img{
		  float:left;
		  padding-top:15px;
		  padding-right:5px;
		 }
		.search{
		     border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
			padding-top:8px;
			padding-bottom:8px;
			padding-right:100px;
			padding-left:5px;
			background:#FFFFCC;
		}
		.buy{
		    border-style:solid;
            border-width:1px;
            border-color:#CC0000;
		    padding:8px 15px;
			
			margin-left:35px;
			background-color:#FF0000;
			color:#fafafa;
			float:right;
			}
			.p1{
				margin-left:20px;
				float:left;
				color:#6E6E6E;
			}
		.button{
		    border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
		    padding:8px 15px;
			margin-left:0px;
			background-color:#FF0000;
			color:#fafafa;
		}
		.button:hover  {
                background-color:#FF6666;
				border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
                color:#fafafa;
				}
		#login{
		     float:left;
		   
		   padding-top:45px;
		   padding-left:5px;
		   }
        .signin{
		      border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
		    padding:8px 15px;
			margin-left:10px;
			background-color:#FF0000;
			color:#fafafa;
		}		
      .signin:hover  {
                background-color:#FF6666;
				border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
                color:#fafafa;
				}
		
		.image1{
		   float:left;
		   width:11%;
		   height:100%;
		}
		#wrap{
			max-width:auto;
			height:45px;
			z-index:2;
			position:relative;
			float:left;
			margin-left:0px;
			margin-right:0px;
			padding-top:10px;
			
		}
		#upper{
		  float:right;
		  color:#FAFAFA
		}
		
		.navbar{
		    border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
			height:47px;
		    background-color:#FF0000;
		}
		
		
		.navbar li 	{
			height: 45px;
			width:159px;
		
			float: left; 
			text-align: center;  
			list-style: none;
			font: normal bold 12px Arial, Verdana, Helvetica;  
			padding: 0;
			margin:0px;
			background-color:#FF0000;
               }
		.navbar a	{							
		             padding: 17px 0;  
		         border-left: 1px solid #FAFAFA; 
		         border-right: 1px solid #FAFAFA;
				  text-decoration: none; 
		         color:#FAFAFA; /* Text color is white */
		         display: block;
		 }				
		.navbar li ul 	{
		          display: none;  /* Hides the drop-down menu */
		          height: auto;		  
		         padding: 0px;
		}				

          .navbar li:hover ul 	{
                        display: block; 
						margin-bottom:0px;
						
                        }
		.navbar li ul li {
		            background-color: #FF6666;
					margin-bottom:0px;
					height:49px;
					} 
        .navbar li ul li a 	{
		    border-left: 1px solid #FAFAFA; 
		    border-right: 1px solid #FAFAFA; 
			border-top: 1px solid #FAFAFA ; 
			border-bottom: 1px solid #FAFAFA;	
		}	
      .navbar li ul li a:hover	
	  {
	  background-color: #FF0000;
	  border: 1px solid #CC0000;
	  }		
	    #wrap1{
		   padding-top:45px;
		   padding-bottom: -10px;
			max-width:950px;
			height:37px;
			z-index:3;
			position:relative;
			float:left;
			margin-left:15px;
			
			
		}
		#wrap1 ul{
		   height:30px;
		}
		.navbar1{
		    border-style:solid;
            border-width:1px;
            border-color:#FAFAFA;
			height:30px;
		    background-color:#FF0000;
			
		}
		
		
		.navbar1 li 	{
			height:30px;
			width:90px;
			float: left; 
			text-align: center;  
			list-style: none;
			font: normal bold 12px Arial, Verdana, Helvetica;  
			padding: 0;
			margin-top:0px;
			background-color:#FF0000;
			
               }
		.navbar1 a	{							
		               
		         border-left: 1px solid #FAFAFA; 
		         border-right: 1px solid #FAFAFA;
				  text-decoration: none; 
		         color:#FAFAFA; 
		         display: block;
				  padding:8px 15px;
		 }				
		.navbar1 li ul 	{
		          display: none; 
		          height: auto;		  
		         padding: 0px;
				 
		}				

          .navbar1 li:hover ul 	{
                        display: block; 
						margin-bottom:0px;
						margin-top:0px;
                        }
		.navbar1 li ul li {
		            background-color: #FF6666;
					margin-bottom:0px;
					margin-top:0px;
					height:auto;
					} 
        .navbar1 li ul li a 	{
		    border-left: 1px solid #FAFAFA; 
		    border-right: 1px solid #FAFAFA; 
			border-top: 1px solid#FAFAFA ; 
			border-bottom: 1px solid #FAFAFA;	
			color:#FAFAFA;
		}	
      .navbar1 li ul li a:hover	
	  {
	  background-color: #FF0000;
	  border: 1px solid #CC0000;
	  }		
	   .th{
		   color:#FAFAFA;
		 } 
		 tr a{
		   text-decoration:none;
		   color:#FFFFCC;
		 }
		 .a1{
		   text-decoration:none;
		   float:right;
		    padding-right:10px;
		  padding-bottom:5px;
		  padding-top:12px;
		   color:#FFFFCC;
		 }
		 .last{
		    
			color:#FAFAFA;
		 }
		 .img1{
		   
			margin-right:10px;
		 }